body {
    font-family: sans-serif;
}

.conteudo-secao {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}
.form-label-sm {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}